#wrapper-container{
  display: flex;
  flex-direction: column;
}

#home-body-top {
  display: flex;
  width: 100%;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

#title-div{
  display: flex;
  flex-direction: column;
}

#title {
  color: #14CC60;
  font-family: 'Nunito';
  font-size: 108px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.title-prefix {
  color: #7D8A90;
  font-family: 'Nunito';
  font-size: 36px;
  margin: 0px;
}

#home-body-bottom{
  padding-top: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #0A2E36;
}

.text-left-div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.text-right-div{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  text-align: end;
}

.subtitle-left{
  color: #14CC60;
  font-family: 'Nunito';
  font-size: 72px;
  margin-left: 20px;
}

.text-content-left {
  color: #7D8A90;
  font-family: 'Nunito';
  font-size: 30px;
  margin-left: 20px;
  width: 50%;
}

.subtitle-right{
  color: #14CC60;
  font-family: 'Nunito';
  font-size: 72px;
  margin-right: 20px;
}

.text-content-right {
  color: #7D8A90;
  font-family: 'Nunito';
  font-size: 30px;
  margin-right: 20px;
  width: 50%;
}

#image-div {
  height: 100%;
  width: 100%;
  background-color: #0A2E36;
}

#image-transition{
  width: 100%;
}